body {
    margin: 0;
    padding: 0;
    background-color: #191D28;
    color: white;
    font-family: Oswald;
}

.btc-price {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.btc-price-inr {
    font-size: 50px;
}

.gray {
    color: rgb(168, 168, 168);
}

.btc-price .price-heading {
    color: #3DC6C1;
    font-size: 30px;
}

.flex-row {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

header {
    padding: 20px;
    text-align: center;
    color: white;
}

.telegram-link {
    text-decoration: none;
    padding: 7px;
    border-radius: 9px;
    background-color: #3DC6C1;
    cursor: pointer;
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2E3241;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #3DC6C1;
    -webkit-transition: .4s;
    transition: .4s;
}

/* 
input:checked+.slider {
    background-color: #3DC6C1;
}

input:focus+.slider {
    box-shadow: 0 0 1px #3DC6C1;
} */

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.timer {
    border-radius: 25px;
    border: 2px solid #3DC6C1;
    height: 20px;
    width: 20px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    color: #3DC6C1
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table {
    margin-top: 30px;
    width: 100%;
    border-collapse: separate;
    /* Important! This enables border-spacing */
    border-spacing: 0 10px;
    /* Adds vertical space between rows */
    margin-top: 20px;


}

td {
    padding: 12px;
    text-align: left;
    background-color: #282c34;
    text-align: center;
}

tr {
    border-radius: 10px;
    font-weight: 700;
}

td:first-child,
th:first-child {
    border-radius: 10px 0 0 10px;
}

td:last-child,
th:last-child {
    border-radius: 0 10px 10px 0;
}

th {
    color: rgb(180, 180, 180);
}

.button {
    padding: 10px;
    background-color: #2E3241;
    border-radius: 10px;
    border: none;
    color: white;
}